<li class="card" id="<%= card.id %>"><button class="c-button c-button--info" style="background-color: <%= card.color %>">
<p><%= card.shape %></p>
<p><%= card.color %></p>
<p><%= card.fill %></p>
<p><%= card.number %></p>

</button></li>
