<!DOCTYPE html>
<html>
<head>
  <title>SetApp</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://unpkg.com/blaze">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <ul class="c-nav c-nav--inline">
    <li class="c-nav__item">Home</li>
    <% if user_signed_in? %>
      <li class="c-nav__item"><%= link_to "Profile", user_path(current_user) %></li>
      <li class="c-nav__item c-nav__item--right"><%= link_to "Logout", destroy_user_session_path %></li>
    <% else %>
      <li class="c-nav__item c-nav__item--right"><%= link_to "Register", new_user_registration_path %></li>
      <li class="c-nav__item c-nav__item--right"><%= link_to "Login", new_user_session_path %></li>
    <% end %>
  </ul>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

</body>
</html>
